*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%
}

body {
	color: $dark-grey;
	font-family: Helvetica, Arial, sans-sarif;
	font-size: $m-size;
	line-height:1.6;
}

button{
	cursor: pointer;
}

button:disabled{
	cursor: default;
}

.inactive {
	color: grey;
	text-decoration:none;
}

.navitem {
	color: skyblue;
	text-decoration: #fff;
}

.card-deck {
	margin-right: 23px;
    margin-left: 23px;
    margin-top: 100px
}